* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *{ border:1px red dashed;
   margin:3px;
} */


.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./img/neutral.backgrounds.jpg');
  background-size: cover;
}

.cloud {

display: flex;
justify-content: center;
align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./img/cloud.PNG');
  animation: animate 60s linear infinite;
  background-size: cover;
}

@keyframes animate {
  0% 
  {
      background-position: 0px;
  }
  100% 
  {
      background-position: 5440px;
  }
}

/* dropdown componens other-cities favourites */
.selects{
   padding:10px;
  // height:150px;
 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;


}
.cities-optionlist{
 display: flex;
 flex-direction: column;
 width:160px;
}

.hide{
  display: none;
}


.weather-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    padding:10px;
    border: 1px gray solid;
    border-radius: 10px;
    background-color: rgba(240, 248, 255,.3);
    
}

.showWeatherDetails{
  ul{
    list-style: none;
  }
}